Header {
    background-color: #39a900;
    display: flex;
    justify-content: space-around;
    width: 35%;
    height: 131vh;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 71px;
}
.nombre{
 color: white;
 font-size: 20px;
}

.todo{
    list-style: none;
    font-size: 30px;
  
}

.raya{
    height: 5px;
    background-color: white;
    width: 70%;
}
.todo li a{
    color: #c1ff95
}
.td{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.todoo{
    background-color: blue;
    position: relative;
    display: flex;
}
.iconos{
    
    display: flex;
    justify-content: space-between;
    font-size: 30px;
   background-color: #242424;
   width: 80%;
   margin: 0 21px;
   padding: 40px 17px 8px 6px;
}

